@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 90vh;
  width: 100wh;
}

.leaflet-attribution-flag{
  display: flex;
  float: left;
  margin-top: 2%;
}

@media screen and (max-width: 640px) {
  .leaflet-container {
      height: 70vh;
  }
}
